{% extends 'base.html.twig' %}

{% block title %}Checking...{% endblock %}

{% block body %}

<div class="row"style=" border-radius: 10px ;background-color: rgb(245, 247, 248); margin-top: 20px;margin-left: 250px;margin-right:250px;box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;">

    <p style="margin-top: 5px;margin-bottom:20px;text-align:center;">Thank you for subscribing to our platform,<br> We will verify your account and answer you very soon.
        Do you want to go back to the home page? <br>Click  <b><a href="http://127.0.0.1:8000">Here</a></b></p>
</div>
{% endblock %}
