{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}
<div class="row"style=" border-radius: 10px ;background-color: rgb(245, 247, 248); margin-top: 20px;margin-left: 50px;margin-right:250px;box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;">

    <p style="margin-top: 20px;text-align:center; ">
       Hello dear, <br>
       We inform you that you have become an administrator, please create your account from 
       <b><a href="http://127.0.0.1:8000/register/admin">Here</a></b>.
    </p>
</div>
{% endblock %}
