{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}

<p style="margin-top: 20px;text-align:center; ">
    Hello dear, <br>
    We verify your account as an angency, to login please click  <a href="http://127.0.0.1:8000/agence/management">Here</a></p>
{% endblock %}
